*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hero{
    background: url(../img/pipeta.jpg) no-repeat center/cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}
.hero-content h1{
   color: rgb(83, 55, 6);
}
.hero-content{
    background-color: rgba(102, 225, 143, 0.432);
   padding: 60px;
   width: 60%;
   border-radius: 30px;
   box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.44);
      margin: 0 auto;
}
h2{
    text-align: center;
    margin-top: 40px;
    font-family: "Playfair Display", serif;
    color:rgb(73,33,33);
}
h1{
    font-family: "Raleway", sans-serif;
}
h4{
    font-family: "Raleway", sans-serif;
    color: rgb(83, 55, 6);
    margin-top: 10px;
}
p{
    font-family: "Lora", serif;
}
.grid{
    display:grid;
    justify-content: start;
grid-template-columns: 1fr 1fr 1fr 1fr;
width:80%;
margin:0px auto;
}
.slikenovihproizvoda{
    width: 100%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0px 15px 10px rgba(40, 25, 25, 0.44);
    border: solid 3px rgb(81, 52, 19);
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}
.NoviProizvodi img:hover{
    transform: rotateY(180deg);
}
.noviproizvodisadrzaj{
    text-align: center;
    padding: 30px;
}
.NoviProizvodi{
    background-color: rgb(169, 203, 184);
    padding: 20px 0;
    width:70%;
    margin:40px auto;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.44);
}
.Bestseller{
    position: relative;
    background-color: rgb(204, 186, 155);
    width:70%;
    padding: 30px;
    border-radius:20px ;
    margin:40px auto;
    box-shadow: 0px 15px 10px rgba(40, 25, 25, 0.44);
}
.grid-bestseller{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 1000px;
   justify-content: center;
    padding-left: 40px;
}
.Bestseller img{
    width:100%;
  height: auto;
    border-radius: 30px;
    box-shadow: 0px 15px 10px rgba(40, 25, 25, 0.44);
    border: solid 3px rgb(81, 52, 19);
    margin-bottom: 20px;
}
.bestseller-content{
    text-align: left;
  margin: 20px auto;
  padding: 20px;
}
.bestseller-content h4{
    text-align: center;
}
.sastojci{
    list-style: none;
}
.cena{
    font-size:20px;
    font-weight:bold;
margin-top:20px;
margin-bottom:20px;
color:rgb(124, 36, 58)
}
.stiker{
    position: absolute;
    top:10px;
    left:100px;
    color: rgb(245, 241, 241);
    background-color: rgba(144, 15, 15, 0.753);
    padding:10px;
    border-radius: 9px;
    font-size:15px;
    letter-spacing: 1px;
    transform-origin:top center;
    animation: pulse 2s infinite ease-in-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        
    }
    100% {
        transform: scale(1);
    }

}
.alergeni{
    border-top: solid 2px rgb(57, 53, 53);
    padding: 10px;
    font-size:small;
}
.o-nama{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70%;
    margin:100px auto;
    background-color: rgba(143, 230, 172, 0.753);
    border-radius: 20px;
    box-shadow: 0px 15px 10px rgba(40, 25, 25, 0.44);
}
.o-nama-content2 img{
    width: 100%;
   height: auto;
   display: block;
   border-radius: 20px;
}
.o-nama-content1{
    padding: 20px;
}
.o-nama-content1 h2{
    text-align: center;
    margin-bottom: 10px;
}